body{
    background-color: #212121;
    margin: 0px;
    padding: 0px;
    font-family: system-ui;
}
.main-div{
    max-width: 1920px;
}
.top-navigation{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-navigation a{
    text-decoration: none;
    color: white;
    padding: 10px 30px;
}

.main-header{
    margin-top:150px;
    width: 100%;
    height: 300px;
}
.main-header .h1{
    padding-left: 100px;
    margin-bottom: -30px;
    line-height: 1;
    /* width: 100%; */
    font-size: 50px;
    color: rgb(19, 165, 223);
    text-align: left;
}
.main-header .p{
    padding-left: 100px;
    line-height: 0.1;
    color: white;
}


.about-us{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    padding-top: 50px;
}

.about-us-card{
    width: 350px;
    height: 450px;
    background-color: #212121;
    box-shadow: 0px 0px 50px -20px black;
    border-radius: 30px;
    margin: 20px;
    padding: 30px;
}

.about-us-card h1{
    color: skyblue;
    font-size: 30px;
}
.about-us-card p{
    color: white;
    text-align: justify;
    margin-bottom: 40px;
}

.about-us-card a{
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: skyblue;
    color: #212121;
}